.app-shell {
  display       : flex;
  flex-direction: column;
  min-height    : 100vh;
  background    : var(--black);
}

.page-content {
  flex          : 1;
  overflow-y    : auto;
  padding-bottom: 80px;
}

.bottom-nav {
  position        : fixed;
  bottom          : 0;
  left            : 50%;
  transform       : translateX(-50%);
  width           : 100%;
  max-width       : 430px;
  background      : linear-gradient(45deg, #01270a, #1e1f1e);
  display         : flex;
  /*border-top      : 1px solid var(--gray-mid);*/
  box-shadow      : 0 -4px 20px rgba(0,0,0,0.07);
  z-index         : 100;
}

.nav-item {
  flex           : 1;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  gap            : 3px;
  padding        : 12px 0;
  background     : none;
  border         : none;
  cursor         : pointer;
  color          : var(--gray-mid);
  font-size      : 11px;
  font-weight    : 500;
  transition     : color 0.2s;
}

.nav-item.active {
  color: var(--green-mid);
}