@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --green-primary : #2d7a4f;
  --green-light   : #e8f5ee;
  --green-mid     : #6aebaf;
  --green-soft    : #b7e4c7;
  --white         : #ffffff;
  --black         : #000000;
  --gray-light    : #f5f7f5;
  --gray-mid      : #e0e0e0;
  --gray-text     : #6b6b6b;
  --dark-text     : #0b1a12;
  --shadow        : 0 4px 20px rgba(45,122,79,0.10);
  --radius        : 18px;
   font-family: 'Inter', sans-serif;
}

body {
  font-family       : 'Inter', sans-serif;
  background        : var(--black);
  color             : var(--white);
  min-height        : 100vh;
  max-width         : 430px;
  margin            : 0 auto;
  overflow-x        : hidden;
}

::-webkit-scrollbar { display: none; }